<div class="container d-flex justify-content-center flex-column">
    <div class="container justify-content-center ">
        <h1>Bienvenido al juego de banderas</h1>
        <h4>las reglas son simples:</h4>
    </div>
    <div class="container">
        <ul type="number">
            <li>Avanzas deacuerdo a como respondas.</li>
            <li>Si te equivocas puede intentarlo las veces que te guste</li>
            <li>al final de cada parida se te mostrara un cumulador de respuestas correctas</li>
            <li>Si te equivocas el juego te dira donde te equivocaste</li>
        </ul>
    </div>
    <div class="container">
        <a routerLink="/game-card-flags" class="btn btn-block rounded">EMPEZAR</a>
    </div>


</div>

