.btn-outline:active{
     border: 1px solid  #0093E9 ;
 }
 .check{
     background:linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
     color: #fff;
 }
.cambioBackgroud{
    background:linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
}